* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;

}

h1 {
    margin-left: 42px;
    margin-top: 47px;
    margin-bottom: 45px;
    color: blue;
}

.container {
    display: inline-block;
    background: aquamarine;
    margin-left: 42px;
    margin-top: 47px;
    margin-bottom: 45px;
}

img {
    height: 350px;
    width: 350px;
    margin-left: 42px;
    margin-top: 47px;
}

h2 {
    margin-left: 47px;
    margin-top: 50px;
    color: blue;
}

ul {
    margin-left: 42px;
    margin-top: 47px;

}

ol {
    margin-left: 42px;
    margin-top: 47px;

}
p {
    color: mediumvioletred;
}