* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("https://picsum.photos/1920/1080");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
   
    margin-top: 30px;
    display: flex;
    gap: 40px;
}   
button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
   opacity: 0.7;
}


#pedra {
    background-color: #f4fc03;
    color: white;
    margin: 10px;

}
#papel {
    background-color: #ff0303;
    color: white;
    margin: 10px;

}
#tesoura {
    background-color: #000000;
    color: white;
    margin: 10px;
}

p {
    font-weight: bold;
    margin-bottom: 10px;

}
.your-score span {
    color:blue
}
.machine-score span {
    color:red
}