.vo {
    font-size: 20px;
    background: #fff000;
    color: #003cff;

}
.pai {
  width: 500px;
  height:500px;
  background: #003cff;
  color: #fff000;
  font-size: 32px;
}
.filho {
    width: 250px;
    height: 250px;
    background: rgb(255, 51, 0);
    color: #fff000;
    font-size:1rem;
    

}

/*
....UNIDADES DE MEDIDAS 


....->ABSOLUTAS
.......px (pixels)
.......in (inches-polegadas)
.......cm / mm (centímetro / milímetro)


....->RELATIVAS
.......% caucula o tamanho relativo ao elemento pai
.......vw (view width) 1vw é 1% da largura da janela do navegador
.......vh (view height) 1vh é 1% da altura da janela do navegador
.......-em- é uma unidade relativa ao elemento pai
.......-rem- éuma unidade relativa ao elemnento raiz

*/