
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
    outline: none;
}
body {
    background-color: #ffffff;
;
}
.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;

}
main {
    width: 300px;
    background: #03c4ef;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px;
} 
label {
    color:rgb(20, 4, 246);
    font-weight: 400;
    font-size: 14px;
    
}
select,input {
   background: #f9f9f7;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #060606;


}
button {
    width: 250px;
    height: 48px;
    background: #0527cf;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    color:#f4e00a;
    cursor: pointer;
    margin: center;
}
button:hover {
    opacity: 0.8;

}
button:active {
    opacity: 0.6;
}
section {
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 36px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-img {
    margin: 15px 0;
}
.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
}
.currency {
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.currency-value, currency-value-to-convert{
    font-weight: 700px;
    font-size: 14px;
    color: rgb(14, 14, 14);
}
    